<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Agregar Nuevo Post</h3>
            <form class="m-5 border p-5 bg-light" id="addPostForm" >
                <div class="form-group">
                  <label for="title">Título</label>
                  <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="">
                </div>
                <div class="form-group">
                  <label for="content">Contenido</label>
                  <input type="texto" class="form-control" id="content" placeholder="">
                </div>
                <div class="form-group">
                    <label for="coverUrl">Imagen</label>
                    <input type="texto" class="form-control" id="coverUrl" placeholder="">
                </div>
                <input type="hidden" class="form-control" id="userId" placeholder="">

                <button type="button" class="btn btn-primary" id="btnAddPost">Crear Post</button>
            </form>
        </div>
    </div>
</div>
